<!DOCTYPE html>
<html>
  <head>

<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-73663589-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());
  gtag('config', 'UA-73663589-1');
</script>


  <meta charset='utf-8'>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" type="text/css" href="/RTbolid.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>





  <script type="text/javascript">
  function log (msg) {
        var d = new Date();
        var dNow = new Date();
        var s = dNow.getHours() + ':' + dNow.getMinutes() + ">> ";
        console.log(s+msg)
  }
  </script> 
{% block meta %}{% end %}
  </head>
  <body>
  		<div id="header"><a href="/"><img src="/header_logoRT.png"></img></a>{% block header %}{% end %}<div id="header_right" style="float: right;"> {% if current_user %} <b>{{current_user}}</b> <a href="/logout/">logout</a>{% else %} <a href="/login/">login</a> {% end %}</div></div>
		<div class="container">
		{% block container %}
        {% end %}
		</div>
		{% block clear %}
        {% end %}
  </body>
</html>