{% if path[0] == 'observatory' %}
	{% set x = _sql("SELECT id, name, lat, lon, alt, text, id_owner, id_astrozor FROM observatory WHERE id = %i "%(int(path[1])))[0] %}
	{{x}}
	<form action="/auth/update/update/observatory" method="post" accept-charset="UTF-8">
		<table>
			<tr><td>	id:			</td><td><input type="number" name="id"   value="{{x[0]}}"   disabled></input> 			</td></tr>
			<tr><td>	name:		</td><td><input type="text"   name="name" value="{{x[1]}}"></input> 					</td></tr>
			<tr><td>	lat:		</td><td><input type="text"   name="lat"   value="{{x[2]}}"  step="any"> </input> 		</td></tr>
			<tr><td>	lon:		</td><td><input type="text"   name="lon"   value="{{x[3]}}"  step="any"></input> 		</td></tr>
			<tr><td>	alt:		</td><td><input type="number" name="alt"   value="{{x[4]}}"  step="any"></input> 		</td></tr>
			<tr><td>	text:		</td><td><input type="text" name="text"   value="{{x[5]}}"></input> 					</td></tr>
			<tr><td>    id_owner:   </td><td><select name="id_owner">
												{% for y in _sql("SELECT id, name, r_name FROM user ORDER BY id=%i desc;" %(int(x[6])))%}
													<option value="{{y[0]}}">{{str(y[1])}}</option>
												{% end %}<option value="-1">-1</option>						     	</select></td></tr>
			<tr><td>	astrozor:	</td><td><input type="number" name="id_astrozor"   value="{{x[7]}}"  step="1">	</input> </td></tr>
			<tr><td>				</td><td><input type="submit" ></input> </td></tr>
		</table>
	</form>



{% elif path[0] == 'EDITstation' %}
	{% set x = _sql("SELECT id, name, id_observatory, id_stationstat, id_stationtype, handler, text FROM station WHERE id = %i "%(int(path[1])))[0] %}
	{{x}}
	<form action="/auth/update/update/station" method="post" accept-charset="UTF-8">
		<table>
			<tr><td>	id:				</td><td><input type="number" name="id"   			value="{{x[0]}}" readOnly="true">	</input> 		</td></tr>
			<tr><td>	observatory:	</td><td><input type="number" name="id_observatory"	value="{{x[2]}}" readOnly="true">	</input> 		</td></tr>
			<tr><td>	name:			</td><td><input type="text"   name="name" 			value="{{x[1]}}">					</input> 		</td></tr>
			<tr><td>    Status:   </td><td><select name="id_stationstat">
												{% for y in _sql("SELECT id, name, text FROM station_status ORDER BY id=%i desc;" %(int(x[3])))%}
													<option value="{{y[0]}}">{{str(y[1])+"-"+str(y[2])}}</option>
												{% end %}</select>																				</td></tr>
			<tr><td>    type:   </td><td><select name="id_stationtype">
												{% for y in _sql("SELECT id, name, text FROM station_type ORDER BY id=%i desc;" %(int(x[3])))%}
													<option value="{{y[0]}}">{{str(y[1])}} - {{str(y[2])}}</option>
												{% end %}</select>																				</td></tr>
			<tr><td>	handler:		</td><td><input type="text"   name="handler"   		value="{{x[5]}}" readOnly="true">	</input> 		</td></tr>
			<tr><td>	text:			</td><td><input type="text"   name="text"   		value="{{x[6]}}"				>	</input> 		</td></tr>
			<tr><td>					</td><td><input type="submit" ></input> </td></tr>
		</table>
	</form>


{% elif path[0] == 'server' %}
	{% set x = _sql("SELECT id, name, lat, lon, id_owner, id_station, id_astrozor FROM server WHERE id = %i "%(int(path[1])))[0] %}
	{{x}}
	<form action="/auth/update/update/server" method="post" accept-charset="UTF-8">
		<table>
			<tr><td>	id:				</td><td><input type="number" name="id"   			value="{{x[0]}}" disabled></input> 	</td></tr>
			<tr><td>	name:			</td><td><input type="text"   name="name" 			value="{{x[1]}}"></input> 		</td></tr>
			<tr><td>	lat:			</td><td><input type="text" name="lat" 			value="{{x[2]}}"></input> 		</td></tr>
			<tr><td>	lon:			</td><td><input type="text" name="lon" 			value="{{x[3]}}"></input> 		</td></tr>
			<tr><td>    id_owner:   	</td><td><select name="id_owner"> <option value="-1">-1</option></select></td></tr>
			<tr><td>    id_observatory: </td><td><select name="id_observatory"> <option value="-1">-1</option></select></td></tr>
			<tr><td>	astrozor:		</td><td><input type="number" name="id_astrozor"   	value="{{x[6]}}"></input> </td></tr>
			<tr><td>					</td><td><input type="submit" ></input> </td></tr>
		</table>
	</form>



{% elif path[0] == 'user' %}
	{% set x = _sql("SELECT id, name, r_name, permission, email, text, id_astrozor FROM user WHERE id = %i "%(int(path[1])))[0] %}
	{{x}}
	<form action="/auth/update/update/user" method="post" accept-charset="UTF-8">
		<table>
			<tr><td>	id:				</td><td><input type="number" name="id"   			value="{{x[0]}}" readOnly="true"></input> 	</td></tr>
			<tr><td>	name:			</td><td><input type="text"   name="name" 			value="{{x[1]}}"></input> 		</td></tr>
			<tr><td>	Real name:	    </td><td><input type="text"   name="r_name" 		value="{{x[2]}}"></input> 		</td></tr>
			<tr><td>	permission:		</td><td><input type="number" name="permission"		value="{{x[3]}}"></input> 	</td></tr>
			<tr><td>	email:	    	</td><td><input type="email"  name="email" 			value="{{x[4]}}"></input> 		</td></tr>
			<tr><td>	text:	    	</td><td><input type="text"   name="text" 			value="{{x[5]}}"></input> 		</td></tr>
			<tr><td>	id_astrozor:	</td><td><input type="number" name="id_astrozor"	value="{{x[6]}}"></input> 	</td></tr>
			<tr><td>					</td><td><input type="submit" ></input> </td></tr>
		</table>
	</form>

{% elif path[0] == 'ADDobservatory' %}
	{% set x = _sql("SELECT id FROM observatory ORDER BY id DESC LIMIT 1")[0] %}
	<h2>Create new observatory:</h2>
	<form action="/auth/update/add/observatory" method="post" accept-charset="UTF-8">
		<table>
			<tr><td>	id:		</td><td><input type="number"name="id" value="{{int(x[0])+1}}"readOnly="true"></input>	</td><td>Automaticky generovane</td></tr>
			<tr><td>	name:	</td><td><input type="text"   name="name" value=""></input> 				    		</td><td>Jméno observatoře</td></tr>
			<tr><td>    user:   </td><td><select name="id_user"><option value="NULL">NULL</option>
												{% for y in _sql("SELECT id, name, r_name FROM user;")%}
													<option value="{{y[0]}}">{{str(y[1])}}</option>
												{% end %}												   </select></td><td>Jméno správce</td></tr>
			
			<tr><td>    obstype: </td><td><select name="id_obstype">
												{% for y in _sql("SELECT id, name, text FROM station_type;")%}
													<option value="{{y[0]}}"><b>{{str(y[1])}}</b> <small>{{str(y[2])}}</small></option>
												{% end %}												   </select></td><td>Typ observatoře</td></tr>
			
			<tr><td>	lat:	</td><td><input type="text"   name="lat"  value="0"> </input> 					</td><td>Severní polokoule +, jižní -</td></tr>
			<tr><td>	lon:	</td><td><input type="text"   name="lon"  value="0"></input> 					</td><td>východní polokoule +, západní -</td></tr>
			<tr><td>	alt:	</td><td><input type="number" name="alt"  value="-1"  step="any"></input> 		</td><td>nadmořská výška</td></tr>
			<tr><td>	text:	</td><td><input type="text" name="text"   value=""></input> 					</td><td>Popis observatoře</td></tr>
			<tr><td>			</td><td><input type="submit" ></input> </td><td></td></tr>
		</table>
	</form>



{% elif path[0] == 'ADDstation' %}
	{% set x = _sql("SELECT id FROM station ORDER BY id DESC LIMIT 1")[0] %}
	<form action="/auth/update/add/station" method="post" accept-charset="UTF-8">
		<table>
			<tr><td>	id:				</td><td><input type="number" name="id"   			value="{{x[0]+1}}" readOnly="true"></input> </td></tr>
			<tr><td>	name:			</td><td><input type="text"   name="name" 			value=""></input> </td></tr>
			<tr><td>    Hvězdárna:   </td><td><select name="id_observatory" readOnly="true">
									<option value="{{path[1]}}">{{path[1]}}</option>
										</select></td><td></td></tr>
			<tr><td>    Typ stanice:   </td><td><select name="id_stationtype">
								{% for y in _sql("SELECT id, name FROM station_type;")%}
									<option value="{{y[0]}}">{{str(y[1])}}</option>
								{% end %} </select></td><td>Jméno správce</td></tr>
			<tr><td>    Status stanice:   </td><td><select name="id_stationstat"><option value="1">1</option>
								{% for y in _sql("SELECT id, name FROM station_status;")%}
									<option value="{{y[0]}}">{{str(y[1])}}</option>
								{% end %} </select></td><td>Jméno správce</td></tr>
			<tr><td>	handler:	</td><td><input type="text"		name="handler"   readOnly="true" ></input> Zatím nemá význam (BOOL)</td></tr>
			<tr><td>	text:		</td><td><input type="text"		name="text"      ></input> Tato hodnota se nastaví sama</td></tr>
			<tr><td>					</td><td><input type="submit" ></input> </td></tr>
		</table>
	</form>


{% elif path[0] == 'ADDserver' %}
	{% set x = _sql("SELECT id FROM server ORDER BY id DESC LIMIT 1")[0] %}
	<form action="/auth/update/add/server" method="post" accept-charset="UTF-8">
		<table>
			<tr><td>	id:				</td><td><input type="number" name="id"				value="{{x[0]+1}}" readOnly="true"></input> 	</td></tr>
			<tr><td>	name:			</td><td><input type="text"   name="name" 			value=""></input> 		</td></tr>
			<tr><td>	describe:		<td><td><input type="text" name="text"   value="">	</input> </td></tr>
			<tr><td>	lat:			</td><td><input type="text" name="lat" 			value="0"></input> 		</td></tr>
			<tr><td>	lon:			</td><td><input type="text" name="lon" 			value="0"></input> 		</td></tr>
			<tr><td>	id_owner:		</td><td><select name="id_owner"><option value="-1">-1</option>
												{% for y in _sql("SELECT id, name, r_name FROM user;")%}
													<option value="{{y[0]}}">{{str(y[1])}}</option>
												{% end %}												     	</select></td></tr>
			<tr><td>	id_observatory:	</td><td><select name="id_observatory"><option value="-1">-1</option>
												{% for y in _sql("SELECT id, name FROM observatory;")%}
													<option value="{{y[0]}}">{{str(y[1])}}</option>
												{% end %}												     	</select></td></tr>
			<tr><td>	astrozor:		</td><td><input type="number" name="id_astrozor"   value="-1"  step="1">	</input> </td></tr>
			<tr><td>					</td><td><input type="submit" ></input> </td></tr>
		</table>
	</form>



{% elif path[0] == 'ADDuser' %}
	{% set x = _sql("SELECT id FROM user ORDER BY id DESC LIMIT 1")[0] %}
	<h2>Create new user:</h2>
	<form action="/auth/update/add/user" method="post" accept-charset="UTF-8">
		<table>
			<tr><td>	id:				</td><td><input type="number"	name="id"			value="{{x[0]+1}}" readOnly="true"> </input>	</td></tr>
			<tr><td>	name:			</td><td><input type="text"		name="name"			value=""> </input>	</td></tr>
			<tr><td>	Real name:		</td><td><input type="text"		name="r_name"		value=""> </input>	</td></tr>
			<tr><td>	email:			</td><td><input type="email"	name="email"		value=""> </input>	</td></tr>
			<tr><td>	heslo:			</td><td><input type="password"	name="pass"			value=""> </input>	</td></tr>
			<tr><td>	heslo validate:	</td><td><input type="password"	name="passv"		value=""> </input>	</td></tr>
			<tr><td>	permission:		</td><td><input type="number"	name="id_permission"value="0"> readOnly="true"</input>	</td></tr>
			<tr><td>	astrozor id:	</td><td><input type="number"	name="id_astrozol"	value="NULL"></input>	</td></tr>
			<tr><td>	www:			</td><td><input type="text"		name="www"			value=""> </input>	</td></tr>
			<tr><td>	text:			</td><td><input type="text"		name="text"			value=""> </input>	</td></tr>
			<tr><td>					</td><td><input type="submit" ></input> </td></tr>
		</table>
	</form>

{% else %}
Err
{% end %}
