{% if path[0] == 'observatory' %}
	{% set x = _sql("SELECT id, name, lat, lon, alt, text, id_owner, id_astrozor FROM observatory WHERE id = %i "%(int(path[1])))[0] %}
	{{x}}
	<form action="/auth/update/update/observatory" method="post" accept-charset="UTF-8">
		<table>
			<tr><td>	id:			</td><td><input type="number" name="id"   value="{{x[0]}}"  step="1"></input> 			</td></tr>
			<tr><td>	name:		</td><td><input type="text"   name="name" value="{{x[1]}}"></input> 					</td></tr>
			<tr><td>	lat:		</td><td><input type="text"   name="lat"   value="{{x[2]}}"  step="any"> </input> 		</td></tr>
			<tr><td>	lon:		</td><td><input type="text"   name="lon"   value="{{x[3]}}"  step="any"></input> 		</td></tr>
			<tr><td>	alt:		</td><td><input type="number" name="alt"   value="{{x[4]}}"  step="any"></input> 		</td></tr>
			<tr><td>	text:		</td><td><input type="text" name="text"   value="{{x[5]}}"></input> 					</td></tr>
			<tr><td>    id_owner:   </td><td><select name="id_owner">
          										{% for y in _sql("SELECT id, name, r_name FROM user ORDER BY id=%i desc;" %(int(x[6])))%}
            										<option value="{{y[0]}}">{{str(y[1])}}</option>
          										{% end %}<option value="-1">-1</option>						     	</select></td></tr>
			<tr><td>	astrozor:	</td><td><input type="number" name="id_astrozor"   value="{{x[7]}}"  step="1">	</input> </td></tr>
			<tr><td>				</td><td><input type="submit" ></input> </td></tr>
		</table>
	</form>



{% elif path[0] == 'station' %}
	{% set x = _sql("SELECT id, name, id_observatory, map, handler FROM station WHERE id = %i "%(int(path[1])))[0] %}
	{{x}}
	<form action="/auth/update/update/station" method="post" accept-charset="UTF-8">
		<table>
			<tr><td>	id:				</td><td><input type="number" name="id"   			value="{{x[0]}}"></input> 		</td></tr>
			<tr><td>	name:			</td><td><input type="text"   name="name" 			value="{{x[1]}}"></input> 		</td></tr>
			<tr><td>	map:			</td><td><input type="number" name="map"   			value="{{x[3]}}"></input> 		</td></tr>
			<tr><td>	handler:		</td><td><input type="text"   name="handler"   		value="{{x[4]}}"></input> 		</td></tr>
			<tr><td>					</td><td><input type="submit" ></input> </td></tr>
		</table>
	</form>


{% elif path[0] == 'server' %}
	{% set x = _sql("SELECT id, name, lat, lon, id_owner, id_station, id_astrozor FROM server WHERE id = %i "%(int(path[1])))[0] %}
	{{x}}
	<form action="/auth/update/update/server" method="post" accept-charset="UTF-8">
		<table>
			<tr><td>	id:				</td><td><input type="number" name="id"   			value="{{x[0]}}"></input> 	</td></tr>
			<tr><td>	name:			</td><td><input type="text"   name="name" 			value="{{x[1]}}"></input> 		</td></tr>
			<tr><td>	lat:			</td><td><input type="number" name="lat"   			value="{{x[2]}}"></input> 		</td></tr>
			<tr><td>	lon:			</td><td><input type="number" name="lon"   			value="{{x[3]}}"></input> 		</td></tr>
			<tr><td>    id_owner:   	</td><td><select name="id_owner">
          										{% for y in _sql("SELECT id, name, r_name FROM user ORDER BY id=%i desc;" %(x[6]))[0]%}
            										<option value="{{y[4]}}">{{str(y[1])}}</option>
          										{% end %}<option value="-1">-1</option>							   </select></td></tr>
			<tr><td>    id_observatory: </td><td><select name="id_observatory">
          										{% for y in _sql("SELECT id, name FROM observatory ORDER BY id=%i desc;" %(x[2]))[0]%}
            										<option value="{{y[5]}}">{{str(y[1])}}</option>
          										{% end %} <option value="-1">-1</option>						   </select></td></tr>
			<tr><td>	astrozor:		</td><td><input type="number" name="id_astrozor"   	value="{{x[6]}}"></input> </td></tr>
			<tr><td>					</td><td><input type="submit" ></input> </td></tr>
		</table>
	</form>



{% elif path[0] == 'user' %}
	{% set x = _sql("SELECT id, name, r_name, permission, email, text, id_astrozor FROM user WHERE id = %i "%(int(path[1])))[0] %}
	{{x}}
	<form action="/auth/update/update/user" method="post" accept-charset="UTF-8">
		<table>
			<tr><td>	id:				</td><td><input type="number" name="id"   			value="{{x[0]}}"></input> 	</td></tr>
			<tr><td>	name:			</td><td><input type="text"   name="name" 			value="{{x[1]}}"></input> 		</td></tr>
			<tr><td>	Real name:	    </td><td><input type="text"   name="r_name" 		value="{{x[2]}}"></input> 		</td></tr>
			<tr><td>	permission:		</td><td><input type="number" name="permission"		value="{{x[3]}}"></input> 	</td></tr>
			<tr><td>	email:	    	</td><td><input type="email"  name="email" 			value="{{x[4]}}"></input> 		</td></tr>
			<tr><td>	text:	    	</td><td><input type="text"   name="text" 			value="{{x[5]}}"></input> 		</td></tr>
			<tr><td>	id_astrozor:	</td><td><input type="number" name="id_astrozor"	value="{{x[6]}}"></input> 	</td></tr>
			<tr><td>					</td><td><input type="submit" ></input> </td></tr>
		</table>
	</form>
{% else %}
Err
{% end %}
