<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" type="text/css" href="/RTbolid.css">

</head>
<body>

<div id="header"><a href="/"><img src="http://space.astro.cz/bolidozor/support/js9browser/header_logo.png"></img></a></div>

<div class="container">
    <div class="parameters">
        Stanice
    </div>
    {% for station in _sql("SELECT station.name, observatory.name, user.r_name, user.email FROM station LEFT JOIN observatory ON station.id_observatory = observatory.id LEFT JOIN user ON user.id = observatory.id_owner;")%}
    
    <div class="block_header">
        {{station[0]}} <span style="size: small;"> @ {{station[1]}} </span>
        
    </div>
    
    <div class="block_content">
        Správce: <a href="mailto:{{station[3]}}">{{station[2]}}</a>
        <div>
            <object type="image/svg+xml" data="/browser/plotJS/{{station[0]}}/?width=690&height=280&month={{parent.get_argument('month', 'last')}}" style="width: 100%;" height="300" border="0"></object>
        </div>
    </div>

    {% end %}

</div> <!-- class="container" -->
<div id="foot">
    Foot

</div>


</body>
</html>
