{% extends "base.html" %}
{% block container %}
    <script type="text/javascript">
$(window).ready(function () {
    console.log("done")
});
    </script>
 
    <div class="block_header">
        All <span style="size: small;"> @ bolidozor</span>
        
    </div>
    
    <div class="block_content">
        <div>
            <object type="image/svg+xml" data="/browser/plotJS/all/?width=690&height=280&month={{parent.get_argument('month', 'last')}}" style="width: 100%;" height="500" border="0"></object>
        </div>
        <div>
            <object type="image/svg+xml" data="/browser/yeartrend/all/?width=690&height=100&month={{parent.get_argument('month', 'last')}}" style="width: 100%;" height="500" border="0"></object>
        </div>
    </div>

    <div class="block_header">
        Jednotlive stanice
    </div>
    
    {% for station in _sql("SELECT station.name, observatory.name FROM station JOIN observatory ON station.id_observatory = observatory.id WHERE (station.id_stationtype = 1 OR station.id_stationtype = 4) AND station.id_stationstat = 1;") %}
    
    <div class="block_header">
        {{station[0]}} <span style="size: small;"> @ {{station[1]}} </span>
        
    </div>
    
    <div class="block_content">
        Správce: <a href="mailto:{{station[0]}}">{{station[0]}}</a>
        <div>
            <object type="image/svg+xml" data="/browser/plotJS/{{station[0]}}/?width=690&height=280&month={{parent.get_argument('month', 'last')}}" style="width: 100%;" height="500" border="0"></object>
        </div>
        <div>
            <object type="image/svg+xml" data="/browser/yeartrend/{{station[0]}}/?width=690&height=100&month={{parent.get_argument('month', 'last')}}" style="width: 100%;" height="500" border="0"></object>
        </div>
    </div>

    {% end %}


   

{% end %}{% block header%}
<div id="tocitko" style="float: right;"> Ahoj!!! chvili pockej, tady bude tocitko </div>



{% end %}{% block script %}


    setTimeout(function(){
        document.getElementById('tocitko').style.display = 'none';
    }, 35000);



{% end %}