<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" type="text/css" href="/MB.css">

</head>
<body>

<div id="header"><img src="http://space.astro.cz/bolidozor/support/js9browser/header_logo.png"></img></div>

<div class="container">
    <div class="parameters">
        Stanice<div class="parameters">
        aouaouoauaouoauuo
    </div>
    </div>

    <div class="event_group" id="{{event_group[1]}}">
                aooeoaeaoeoaeoaeoea
            </div>


</div> <!-- class="container" -->
<div id="foot">
    Foot

</div>

</body>
</html>
