{% extends "base.html" %}
{% block meta %}
    <style type="text/css">

    body{
      background: url(/rmds02d_transparent.png) bottom right no-repeat fixed;
      background-size: 50% auto;
      min-width: 900px;
      margin: 0px;
      background-color: #eaedf1;
      color: #383641;
      font-family: Helvetica, Arial, sans-serif;

    }

    #indexblock{
      width: 350px;
      height: 250px;
      background-color: red;
      margin: 20px;
      padding: 5px

    }

    #floater {
      position: absolute;
      float: left;
      width: 100%;
      text-align: center;
      vertical-align: center;
    }

    #floater a{
    width: 250px;
    height: 250px;
    display: inline-block;
    float: left;
    margin-left: 50px;
    margin-top: 50px;
    }


    #Bfill{
      height: 100%;
      width: 100%;
    }


    </style>


{% end %}{% block header %}

   {% if user %} {{user}} <small><a href="/auth/logout/">logout</a>{% else %} <a href="/auth/login/">login</a></small> {% end %}

{% end %}{% block clear %}

    <div id="floater">
     <a href="/realtime" style="background: url('/IndexBrowser.png') no-repeat;"> RTbolidozor</a>
     <a href="/multibolid" style="background: url('/IndexBrowser.png') no-repeat;"> Multi bolid</a>
     <a href="/browser" style="background: url('/IndexBrowser.png') no-repeat;"> Browser</a>

    </div>
    
{% end %}