<html>
  <head>
    <title>{% block title %}Default title{% end %}</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
    <script src="http://code.jquery.com/jquery.min.js"></script>
        <script>

      var snd = new Audio("meteor.wav"); // buffers automatically when created
      function message(msg){
        $('#ahoj').prepend(msg+'</p>')
      }

      function showmeteor(marker, duration){
        marker.setIcon(IconEvent)
        snd.play();
      }

      function hidemeteor(marker, duration){
        setTimeout(function() {marker.setIcon(IconStation); },3000);
      }

      function meteor(station, amplitude, duration, marker){
        showmeteor(marker, duration);
        //setTimeout(function() { marker.valueOf()._icon.style.backgroundColor = 'blue';},1000);
        setTimeout(function() { hidemeteor(marker, duration);}, 0);
      }
     

      function connect(){
      try{

          var socket;
          var host = "ws://meteor1.astrozor.cz:5252/ws";
            var socket = new WebSocket(host);

                message('<p class="event">Socket Status: '+socket.readyState);

                socket.onopen = function(){
                   message('<p class="event">Socket Status: '+socket.readyState+' (open)');
                }

                socket.onmessage = function(msg){
                   message('<p class="message">Received: '+msg.data);
                   meteor("OBSUPICE", 123, 2, obsUpice);
                }

                socket.onclose = function(){
                   message('<p class="event">Socket Status: '+socket.readyState+' (Closed)');
                }     

            } catch(exception){
               message('<p>Error'+exception);
            }
        }
        </script>
  </head>
  <body>
    <div id="ahoj">aaa</div>
    <div id="map"></div>
       <script type="text/javascript">

      var IconStation = L.icon({
          iconUrl: 'http://www.astrozor.cz/graphics/markers/_observatory-clouds_new.png',
          iconSize: [40, 40],
          iconAnchor: [20, 20],
          popupAnchor: [-3, -76],
      });
      
      var IconEvent = L.icon({
          iconUrl: 'http://www.astrozor.cz/graphics/markers/observatory_new.png',
          iconSize: [40, 40],
          iconAnchor: [20, 20],
          popupAnchor: [-3, -76],
      });

      var map = L.map('map').setView([51.505, -0.09], 13);

      L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6IjZjNmRjNzk3ZmE2MTcwOTEwMGY0MzU3YjUzOWFmNWZhIn0.Y8bhBaUMqFiPrDRW9hieoQ', {
        maxZoom: 18,
        //attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
        //  '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
        //  'Imagery © <a href="http://mapbox.com">Mapbox</a>',
        id: 'mapbox.streets'
      }).addTo(map);


      var obsUpice = L.marker([51.5, -0.09]).addTo(map)


      var greenIcon = L.icon({
          iconUrl: 'station.png',
          //shadowUrl: 'leaf-shadow.png',

          iconSize:     [38, 95], // size of the icon
          //shadowSize:   [50, 64], // size of the shadow
          iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
          //shadowAnchor: [4, 62],  // the same for the shadow
          popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
      });

      function onMapClick(e) {
        popup
          .setLatLng(e.latlng)
          .setContent("You clicked the map at " + e.latlng.toString())
          .openOn(map);
      }

      function onMap(e) {
        var krut = L.marker(e.latlng, 500, {
          color: 'red',
          fillColor: '#f03',
          fillOpacity: 0.5
        }).addTo(map);
        setTimeout(function() {map.removeLayer(krut);},1000);
      }

      //map.on('click', onMapClick);
      map.on('click', onMap);





          log = function(data){
            $("div#ahoj").prepend("</br>" +data);
            console.log(data);
          };
     
          $(document).ready(function (evt) {
            var ws;
            evt.preventDefault();
     
              var host = "62.77.113.30";
              var port = 5252;
              var uri =  "/ws";
     
              // create websocket instance
              ws = new WebSocket("ws://" + host + ":" + port + uri);
               
              // Handle incoming websocket message callback
              ws.onmessage = function(evt) {
                log("Message Received: " + evt.data)
              };
     
              // Close Websocket callback
              ws.onclose = function(evt) {
                log("***Connection Closed***");
                alert("Connection close");
                $("div#message_details").empty();
     
                };
     
              // Open Websocket callback
              ws.onopen = function(evt) { 
                $("div#message_details").show();
                log("***Connection Opened***");
              };
     
            // Send websocket message function
            //$("#send").click(function(evt) {
            //    log("Sending Message: "+$("#message").val());
            //    ws.send($("#message").val());
            //});
     
          });






  connect();
  </script>
  </body>
</html>
