 <!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Default title{% end %}</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script>

      function log (msg) {
        console.log(msg)
      }

      var snd = new Audio("meteor.wav"); // buffers automatically when created
      
      function message(msg){
        log(msg)
      }

      function showmeteor(marker, duration){
        marker.setIcon(IconEvent)
        snd.play();
      }

      function hidemeteor(marker, duration){
        setTimeout(function() {marker.setIcon(IconStation); },1000);
      }

      function meteor(station, amplitude, duration, marker){
        showmeteor(marker, duration);
        setTimeout(function() { hidemeteor(marker, duration);}, 0);
      }
     

      function connect(){
      try{

          var socket;
          var host = "ws://meteor1.astrozor.cz:5252/ws";
            var socket = new WebSocket(host);

                message('<p class="event">Socket Status: '+socket.readyState);

                socket.onopen = function(){
                   message('<p class="event">Socket Status: '+socket.readyState+' (open)');
                }

                socket.onmessage = function(msg){
                   message('<p class="message">Received: '+msg.data);
                   log('Received: '+msg.data)
                   var split = msg.data.split(";")

                   switch(split[1]) {
                      {% for event_group in _sqlWeb("SELECT * FROM stations ORDER BY time DESC ") %}
                      case '{{event_group[1]}}':
                          meteor("{{event_group[1]}}", 0, 0, {{event_group[1]}});
                          break;
                      {% end %}
                      default:
                          break;
                  }
                }

                socket.onclose = function(){
                   message('<p class="event">Socket Status: '+socket.readyState+' (Closed)');
                }     

            } catch(exception){
               message('<p>Error'+exception);
            }
        }
        </script>
  </head>
  <body>
    <div id="header"><img src="http://space.astro.cz/bolidozor/support/js9browser/header_logo.png"></img></div>
    <div id="map"></div>
       <script type="text/javascript">

      var IconStation = L.icon({
          iconUrl: 'http://www.astrozor.cz/graphics/markers/_observatory-clouds_new.png',
          iconSize: [40, 40],
          iconAnchor: [20, 20],
          popupAnchor: [-3, -76],
      });
      
      var IconEvent = L.icon({
          iconUrl: 'http://www.astrozor.cz/graphics/markers/observatory_new.png',
          iconSize: [40, 40],
          iconAnchor: [20, 20],
          popupAnchor: [-3, -76],
      });

      var map = L.map('map').setView([50, 14], 8);

      L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6IjZjNmRjNzk3ZmE2MTcwOTEwMGY0MzU3YjUzOWFmNWZhIn0.Y8bhBaUMqFiPrDRW9hieoQ', {
        maxZoom: 18,
        //attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
        //  '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
        //  'Imagery © <a href="http://mapbox.com">Mapbox</a>',
        id: 'mapbox.streets'
      }).addTo(map);


      var obsUpice = L.marker([51.5, -0.09]).addTo(map)
          {% for event_group in _sqlWeb("SELECT * FROM stations ORDER BY time DESC ") %}
          var {{event_group[1]}} = L.marker([{{event_group[5]}},{{event_group[6]}}]).addTo(map)
          {% end %}


      var greenIcon = L.icon({
          iconUrl: 'station.png',
          //shadowUrl: 'leaf-shadow.png',

          iconSize:     [38, 95], // size of the icon
          //shadowSize:   [50, 64], // size of the shadow
          iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
          //shadowAnchor: [4, 62],  // the same for the shadow
          popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
      });

      function onMapClick(e) {
        popup
          .setLatLng(e.latlng)
          .setContent("You clicked the map at " + e.latlng.toString())
          .openOn(map);
      }

      function onMap(e) {
        var krut = L.marker(e.latlng, 500, {
          color: 'red',
          fillColor: '#f03',
          fillOpacity: 0.5
        }).addTo(map);
        setTimeout(function() {map.removeLayer(krut);},1000);
      }

      //map.on('click', onMapClick);
      map.on('click', onMap);

     
          $(document).ready(function (evt) {
            var ws;
           // evt.preventDefault();
     
              var host = "62.77.113.30";
              var port = 5252;
              var uri =  "/ws";
     
              // create websocket instance
              ws = new WebSocket("ws://" + host + ":" + port + uri);
               
              // Handle incoming websocket message callback
              ws.onmessage = function(evt) {
                log("Message Received: " + evt.data)
              };
     
              // Close Websocket callback
              ws.onclose = function(evt) {
                log("***Connection Closed***");
                };
     
              // Open Websocket callback
              ws.onopen = function(evt) {
                log("***Connection Opened***");
              };
     
     
          });
  connect();
  </script>
  </body>
</html>
