#ZooMainWindow{
	 /* Must manually set width/height */
	 width:800px;
	 height:500px;

	 /* The magic centering code */
	 margin:auto;
	 position:absolute;
	 top:0;bottom:0; /* Aligns Vertically - Remove for Horizontal Only */
	 left:0;right:0; /* Aligns Horizontally - Remove for Vertical Only  */

	 /* Prevent div from overflowing main window */
	 max-width:100%;
	 max-height:100%;
	 overflow:auto;

	 background-color: red;
}


#first{

	top: 100%;
	left: 0px;
	background-color: green;
	height: 100%;
	width: 100%;
	position: absolute;
	margin: 0px;
}

#second{

	top: 200%;
	left: 0px;
	background-color: blue;
	height: 100%;
	width: 100%;
	position: absolute;
	margin: 0px;
}