body {
	min-width: 100%;
	min-height: 100%;
    height: auto !important;
    height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: Helvetica, Arial, sans-serif;
    background: url(/rmds02d_transparent.png) bottom right no-repeat fixed;
    background-size: 50% auto;
	background-color: #eaedf1;
	color: #383641;
}

#ahoj {
	background-color: green;
	color: blue;
	height: 10%;

}


#map {
	height: 88%;
	width: 100%;
	min-height: 500px;

}

#header{
	min-width: 800px;
	width: 100%;
	top: 0px;
	margin: 0px;
	margin-bottom: 5px;
	background-color: white;
	border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #dedfe5;
    border-radius: 0;
    border-top: none medium;
}

#foot{
	min-width: 800px;
	width: 100%;
	min-height: 30px;
	bottom: 0px;
	margin: 0px;
	margin-top: 20px;
	background-color: white;
	border-top;-width: 3px;
    border-top-style: solid;
    border-top-color: #dedfe5;
    border-radius: 0;
    border-bottom: none medium;
}

.h_center{
	position:absolute;
	top:50%;
	left:50%;
	height: 100px;
	margin-top:-50px; /* this is half the height of your div*/ 
}
